<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sistema de Estoque - Formulário</title>
  <link rel="stylesheet" href="/css/base.css">
  <link rel="stylesheet" href="/css/components.css">
  <link rel="stylesheet" href="/css/layout.css">
</head>
<body class="<%= @body_class || '' %>">
<div id="flash-messages-container"></div>

<main class="content-wrapper"> <%# Renomeei para 'content-wrapper' para ser mais genérico %>
  <%= yield %>
</main>

<script src="/app.js"></script>
</body>
</html>