<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login - Sistema de Estoque</title>
  <link rel="stylesheet" href="/css/base.css">
  <link rel="stylesheet" href="/css/layout.css">
  <link rel="stylesheet" href="/css/components.css">
</head>
<body class="pagina-login">
<div class="login-container">
  <% if params[:erro] %>
    <div class="flash-message error"><%= h(params[:erro]) %></div>
  <% end %>
  <% if params[:info] %>
    <div class="flash-message info"><%= h(params[:info]) %></div>
  <% end %>
  <%= yield %>
</div>
</body>
</html>