<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <title>Formulário - Sistema de Estoque</title>
  <link rel="stylesheet" href="/css/base.css">
  <link rel="stylesheet" href="/css/layout.css">
  <link rel="stylesheet" href="/css/components.css">
</head>
<body class="pagina-formulario-fundo">
<div id="flash-messages-container"></div>
<%= yield %>
<script src="/app.js"></script>
</body>
</html>